mysql-connector-python==8.0.32
ipython==8.1.1
streamlit-aggrid==0.3.4
streamlit-option-menu==0.3.2
streamlit-pandas==0.0.9
pandas==1.4.1
pandas-bokeh==0.5.5
bokeh==2.4.3
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
